.form {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	&__group {
		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;

		label {
			font-size: 1.4rem;
			text-transform: capitalize;
			color: $accent-color;
		}
	}
	&__input {
		padding: 0.5rem;
		border: 0.1rem solid $accent-color;
		border-radius: 0.6rem;
		background-color: $bg-color;
		color: $color-white;
		font-size: 2rem;
		&-danger {
			border-color: $color-danger;
		}
	}

	&__error {
		animation-name: moveInBottom;
		animation-duration: 0.5s;
		animation-fill-mode: forwards;
	}
}
