.form {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: stretch;
	padding: 1rem;
	&__group {
		width: 100%;

		display: flex;
		flex-direction: column;
		margin-bottom: 1rem;

		&-inline {
			flex-direction: row;
		}

		&-checkbox {
			margin-top: 1rem;
			flex-direction: row;
			align-items: center;
			margin-bottom: 0;
		}

		label {
			font-size: 1.6rem;
			text-transform: capitalize;
			color: $accent-color;
		}
	}
	&__input {
		padding: 1rem;
		border: 0.1rem solid $accent-color;
		border-radius: 0.6rem;
		background-color: $bg-color;
		color: $color-white;
		font-size: 1.6rem;
		&-danger {
			border-color: $color-danger;
		}

		&::placeholder {
			color: $color-grey-light;
		}
	}
	&__checkbox {
		display: none;
		& + label {
			background-color: $color-white;
			display: flex;
			width: 2.5rem;
			height: 2.5rem;
			border-radius: 0.5rem;
			border: 0.1rem $accent-color solid;
			justify-content: center;
			align-items: center;
			font-size: 2.5rem;
			cursor: pointer;
			&:hover {
				background-color: darken($color: $color-white, $amount: 10%);
			}
			.fa {
				color: darken($color: $accent-color, $amount: 30%);
			}

			+ p {
				font-size: 2rem;
				margin-left: 1rem;
			}
		}
	}
	&__error {
		animation-name: moveInBottom;
		animation-duration: 0.5s;
		animation-fill-mode: forwards;
	}

	&__file {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;

		& + label {
			align-self: center;
			background: $color-grey-light;
			word-spacing: -0.2em;
			margin-top: 1rem;
			width: 12rem;
			height: 12rem;
			border: 0.1rem solid $accent-color;
			border-radius: 50%;
			text-align: center;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			span {
				color: $color-white;
				font-weight: bold;
			}
		}
	}
}
