$bg-color: #282c34;
$color-white: #ffffff;
$accent-color: #61dafb;
$color-black: #000;
$link-color: darken($accent-color, 20);
$color-danger: red;
$color-grey-light: #bdbdbd;
$color-grey-dark: #424242;
$color-blue-light: #0277bd;
$sidebar-color: lighten(
	$color: $bg-color,
	$amount: 5,
);

$default-font-size: 1.6rem;
