.chat {
	width: 100vw;
	height: 100vh;
	display: flex;

	&__sidebar {
		flex-basis: 20%;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		background-color: $sidebar-color;
		border-right: 0.1rem solid lighten($color-black, 10);

		@include respond(wide-desktop) {
			flex-basis: 25%;
		}
		@include respond(tab-land) {
			flex-basis: 30%;
		}
		@include respond(tab-port) {
			flex-basis: 35%;
		}

		&_phone-port-show {
			@include respond(phone-port) {
				display: flex;
				flex-basis: 100%;
			}
		}
		&_phone-port-hide {
			@include respond(phone-port) {
				display: none;
			}
		}

		&_top {
			background-color: darken($color: $sidebar-color, $amount: 2);
			width: 100%;
			@include flex-center;
			justify-content: space-evenly;
			padding: 1rem 0rem;
		}

		&_toggler {
			font-size: 2rem;
		}
	}

	&__search {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		width: 80%;
		background-color: lighten($color: $bg-color, $amount: 10);
		padding: 0.5rem;
		border: none;
		border-radius: 0.5rem;
		color: $color-white;
		font-size: $default-font-size;
		&::placeholder {
			color: $color-grey-light;
		}
	}

	&__recentchats {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		@include scroller($sidebar-color);

		&:hover {
			@include scroller-hovered($sidebar-color);
		}
	}

	&__sidebarItem {
		@include flex-center;
		justify-content: space-evenly;
		padding: 1rem 0.5rem;
		margin: 0 0.5rem 1rem;

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			background-color: lighten($color: $bg-color, $amount: 8);
			cursor: pointer;
		}
		&-selected {
			background-color: rgba($color-blue-light-2, 0.2);
			&:hover {
				background-color: rgba($color-blue-light-2, 0.2);
			}
		}

		&_avatar {
			width: 6rem;
			height: auto;
			border-radius: 50%;
		}

		&_info {
			width: 80%;
			margin-left: 1rem;
			display: flex;
			align-items: stretch;
			justify-content: space-around;
			flex-direction: column;
		}

		&_title {
			@include flex-center;
			justify-content: space-between;

			&_username {
				font-size: $default-font-size;
				font-weight: 400;
				color: darken($color: $color-white, $amount: 5);
			}
			&_date {
				color: $color-grey-light;
			}
		}

		&_message {
			font-size: 1.2rem;
			@include respond(tab-port) {
				font-size: 1.6rem;
			}
			color: $color-blue-light-3;
		}
	}

	&__main {
		flex-basis: 80%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		&_phone-port-show {
			@include respond(phone-port) {
				display: flex;
				flex-basis: 100%;
			}
		}
		&_phone-port-hide {
			@include respond(phone-port) {
				display: none;
			}
		}
	}

	&__topbar {
		flex-basis: 6.25%;
		max-height: 7rem;
		@include respond(phone-port) {
			flex-basis: 8.25%;
		}
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 2rem;
		background-color: darken($color: $sidebar-color, $amount: 2);

		&_left {
			display: flex;

			justify-content: space-between;
		}

		&_back {
			padding: 1rem;
			font-size: 2.5rem;
			display: none;
			@include respond(phone-port) {
				display: inline-block;
			}
		}

		&_title {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			&-main {
				font-size: 1.4rem;

				@include respond(tab-port) {
					font-size: 1.6rem;
				}
				font-weight: 400;
			}
			&-sub {
				&_subtitle {
					color: $color-grey-light;
				}
			}
		}

		&_right {
			* {
				font-size: 2rem;
			}
		}
	}

	&__messages {
		flex-basis: 87.5%;
		@include respond(tab-port) {
			flex-basis: 90%;
		}
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin-bottom: 1rem;
		overflow-x: hidden;
		@include scroller($bg-color);

		&:hover {
			@include scroller-hovered($bg-color);
		}
	}

	&__message {
		display: flex;
		margin: 1rem 2rem;
		&:first-child {
			margin-top: auto !important;
		}
		&_avatar {
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
		}

		&_body {
			display: flex;
			flex-direction: column;
			min-width: 4rem;
			position: relative;
			padding: 1rem 1rem 0.4rem;
			max-width: 45%;
			border-radius: 0.4rem;
			text-align: center;
			word-break: break-all;
			white-space: pre-wrap;
			background-color: lighten($bg-color, 10);
			&-left {
				&:after {
					content: "";
					position: absolute;
					left: 0;
					top: 60%;
					width: 0;
					height: 0;
					border: 17px solid transparent;
					border-right-color: lighten($bg-color, 10);
					border-left: 0;
					border-bottom: 0;
					margin-top: -8.5px;
					margin-left: -17px;
				}
			}

			&-right {
				background: $color-blue-light-1;
				&:after {
					content: "";
					position: absolute;
					right: 0;
					top: 60%;
					width: 0;
					height: 0;
					border: 17px solid transparent;
					border-left-color: $color-blue-light-1;
					border-right: 0;
					border-bottom: 0;
					margin-top: -8.5px;
					margin-right: -17px;
				}
			}
		}

		&_time {
			color: $color-grey-light;
			align-self: flex-end;
		}

		&-right {
			justify-content: flex-end;
		}
	}

	&__typingbar {
		flex-basis: 6.25%;
		align-self: flex-end;
		width: 100%;
		background-color: $sidebar-color;
		@include flex-center;

		&_attachment,
		&_submit,
		&_emoji {
			align-self: flex-end;

			flex: 1;
			font-size: 2.5rem;
			color: $color-grey-dark;
			min-width: 4.825rem;
			margin-bottom: 0.7rem;
		}

		&_form {
			flex: 30;
			display: flex;
			align-self: center;
		}

		&_input {
			flex: 30;
			background-color: $sidebar-color;
			border: none;

			color: white;
			resize: none;
			outline: none;
			padding: 2rem 0;
			word-wrap: break-word;
			align-self: center;
			max-height: 20rem;
			font-size: $default-font-size;
			-ms-overflow-style: none;
			&::-webkit-scrollbar {
				display: none;
			}
			@include scroller($sidebar-color);
		}

		&_submit {
			margin-bottom: 1.1rem;
		}
	}
}
