.chat {
	width: 100vw;
	height: 100vh;
	display: flex;
	&__sidebar {
		flex: 1;
		height: 100vh;
		background-color: lighten($color: $bg-color, $amount: 5);

		&_top {
			height: 8rem;
			@include flex-center;
			justify-content: space-around;
		}

		&_toggler {
			font-size: 2rem;
		}
	}

	&__search {
		height: 3rem;
		background-color: lighten($color: $bg-color, $amount: 10);
		padding: 0.5rem;
		margin-right: 0.5rem;
		margin-left: 0.5rem;
		border: none;
		border-radius: 0.6rem;
		color: $color-white;
		font-size: 2rem;
	}

	&__main {
		flex: 4;
		height: 100vh;
	}
}
