.chat {
	width: 100vw;
	height: 100vh;
	display: flex;

	&__sidebar {
		flex-basis: 20%;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		background-color: $sidebar-color;
		border-right: 0.1rem solid lighten($color-black, 10);

		@include respond(wide-desktop) {
			flex-basis: 25%;
		}
		@include respond(tab-land) {
			flex-basis: 30%;
		}
		@include respond(tab-port) {
			flex-basis: 35%;
		}

		&_phone-port-show {
			@include respond(phone-port) {
				display: flex;
				flex-basis: 100%;
			}
		}
		&_phone-port-hide {
			@include respond(phone-port) {
				display: none;
			}
		}

		&_top {
			background-color: darken($color: $sidebar-color, $amount: 2);
			width: 100%;
			@include flex-center;
			justify-content: space-evenly;
			padding: 1rem 0rem;
		}

		&_toggler {
			font-size: 2rem;
		}
	}

	&__search {
		margin-left: 0.5rem;
		margin-right: 0.5rem;

		width: 80%;
		background-color: lighten($color: $bg-color, $amount: 10);
		padding: 0.5rem;
		padding-left: 1rem;
		border: none;
		border-radius: 0.5rem;
		color: $color-white;
		font-size: $default-font-size;
		&::placeholder {
			color: $color-grey-light;
		}
	}

	&__recentchats {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		@include scroller($sidebar-color);

		&:hover {
			@include scroller-hovered($sidebar-color);
		}
	}

	&__sidebarItem {
		@include flex-center;
		justify-content: space-evenly;
		padding: 1rem 0.5rem;
		margin: 0 0.5rem 1rem;

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			background-color: lighten($color: $bg-color, $amount: 8);
			cursor: pointer;
		}
		&-selected {
			background-color: rgba($color-blue-light-2, 0.2);
			&:hover {
				background-color: rgba($color-blue-light-2, 0.2);
				cursor: pointer;
			}
		}

		&_avatar {
			min-width: 6rem;
			min-height: 6rem;
		}

		&_right {
			display: flex;
			width: 80%;
			margin-left: 1rem;
			flex-direction: column;
		}

		&_top,
		&_bottom {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&_title {
			@include flex-center;
			justify-content: space-between;

			&_titlwe {
				font-size: $default-font-size;
				font-weight: 400;
				color: darken($color: $color-white, $amount: 5);
			}
			&_date {
				color: $color-grey-light;
			}
		}

		&_message {
			font-size: 1.2rem;
			@include respond(tab-port) {
				font-size: 1.6rem;
			}
			color: $color-blue-light-3;
		}
		&_unread {
			width: 2.5rem;
			height: 2.5rem;

			background-color: darken($color: $accent-color, $amount: 30);
			font-size: 1.2rem;
			box-sizing: border-box;
			border-radius: 50%;
			@include flex-center;
		}
	}

	&__main {
		flex-basis: 80%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		&_phone-port-show {
			@include respond(phone-port) {
				display: flex;
				flex-basis: 100%;
			}
		}
		&_phone-port-hide {
			@include respond(phone-port) {
				display: none;
			}
		}
	}

	&__topbar {
		flex-basis: 6.25%;
		max-height: 7rem;
		@include respond(phone-port) {
			flex-basis: 8.25%;
		}
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 2rem;
		background-color: darken($color: $sidebar-color, $amount: 2);

		&_left {
			display: flex;

			justify-content: space-between;
		}

		&_back {
			padding: 1rem;
			font-size: 2.5rem;
			display: none;
			@include respond(phone-port) {
				display: inline-block;
			}
		}

		&_title {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			&_user {
				font-size: 1.6rem;
				cursor: pointer;

				@include respond(tab-port) {
					font-size: 1.8rem;
				}
				font-weight: 400;
			}
			&_status {
				font-size: 1.2rem;
				&,
				& > i {
					transition: all ease-out 500ms;
				}

				&-offline {
					color: $color-grey-light;
				}
				&-online {
					color: $color-white;
					& > i {
						color: lightgreen;
					}
				}
			}
		}

		&_right {
			* {
				font-size: 2rem;
			}
		}
	}

	&__messages {
		flex-basis: 87.5%;

		@include respond(tab-port) {
			flex-basis: 90%;
		}
		@include scroller($bg-color);

		width: 100%;
		margin-bottom: 1rem;

		& > div {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			overflow-x: hidden;

			&:hover {
				@include scroller-hovered($bg-color);
			}
		}

		&_scroll-btn {
			width: 3rem !important;
			height: 3rem !important;
			margin-bottom: 2rem;
		}
	}

	&__message {
		display: flex;
		margin: 0.3rem 1rem;
		&-last {
			margin-bottom: 1.5rem;
		}
		&:first-child {
			margin-top: auto !important;
		}
		&_avatar {
			display: none;
			width: 3rem;
			height: 3rem;
			align-self: flex-end;
			border-radius: 50%;
			margin-right: 2rem;
			&-last {
				display: inline;
			}
			@include respond(tab-port) {
				display: none;
			}
		}

		&_body {
			display: flex;
			line-height: 2rem;
			flex-direction: column;
			min-width: 10rem;
			position: relative;
			padding: 0.5rem 1rem 0;
			max-width: 45%;
			border-radius: 0.4rem;
			word-break: break-all;
			white-space: pre-wrap;
			background-color: lighten($bg-color, 10);
			&:not(.chat__message_body-last) {
				margin-left: 5rem;
				@include respond(tab-port) {
					margin-left: 0;
				}
			}
			&-left,
			&-right {
				&.chat__message_body-last::after {
					content: "";
					position: absolute;
					left: 0;
					top: 60%;
					width: 0;
					height: 0;
					border: 17px solid transparent;
					border-right-color: lighten($bg-color, 10);
					border-left: 0;
					border-bottom: 0;
					margin-top: -8.5px;
					margin-left: -17px;
				}
			}

			&-right {
				background: $color-blue-light-1;
				&.chat__message_body-last::after {
					border-right-color: $color-blue-light-1;
				}
				@include respond(tab-port) {
					&.chat__message_body-last:after {
						content: "";
						position: absolute;
						left: auto;
						right: 0;
						top: 60%;
						width: 0;
						height: 0;
						border: 17px solid transparent;
						border-left-color: $color-blue-light-1;
						border-right: 0;
						border-bottom: 0;
						margin-top: -8.5px;
						margin-right: -17px;
					}
				}
			}
		}

		&_time {
			color: $color-grey-light;
			font-size: 1.1rem;
			align-self: flex-end;
			user-select: none;
		}

		&-right {
			@include respond(tab-port) {
				justify-content: flex-end;
			}
		}
	}

	&__typingbar {
		flex-basis: 6.25%;
		align-self: flex-end;
		width: 100%;
		background-color: $sidebar-color;
		@include flex-center;

		&_attachment,
		&_submit,
		&_emoji {
			align-self: start;
			margin-top: 1rem;
			flex: 1;
			font-size: 2.5rem;
			color: $color-grey-dark;
			min-width: 4.825rem;
			margin-bottom: 0.7rem;
		}

		&_form {
			flex: 30;
			display: flex;
			align-self: center;
		}

		&_input {
			flex: 30;
			background-color: $sidebar-color;
			border: none;

			color: white;
			resize: none;
			outline: none;
			padding: 2rem 0;
			word-wrap: break-word;
			align-self: center;
			max-height: 20rem;
			font-size: $default-font-size;
			-ms-overflow-style: none;
			&::-webkit-scrollbar {
				display: none;
			}
			@include scroller($sidebar-color);
		}

		&_submit {
			margin-bottom: 1.1rem;
			align-self: end;
		}
	}
	&__isTyping {
		margin-left: 2rem;
		color: darken($color: $color-white, $amount: 10);
		font-size: 1.1rem;
	}
}
