.u-center-text {
	text-align: center !important;
}

.u-mb-lg {
	margin-bottom: 8rem !important;
}

.u-mb-md-1 {
	margin-bottom: 2.5rem !important;
}
.u-mb-md-2 {
	margin-bottom: 4rem !important;
}
.u-mb-sm {
	margin-bottom: 1.5rem !important;
}

.u-mt-sm {
	margin-top: 2rem !important;
}
.u-mt-md {
	margin-top: 4rem !important;
}

.u-mt-lg {
	margin-top: 8rem !important;
}

.u-mt-xl {
	margin-top: 10rem !important;
}

// Animations

.u-move-out-left {
	animation: moveOutLeft 0.5s forwards;
}
.u-move-out-right {
	animation: moveOutRight 0.75s forwards;
}
.u-move-in-right {
	animation: moveInRight 0.5s forwards;
}
.u-move-in-left {
	animation: moveInLeft 0.75s forwards;
}

//misc

.u-scroller {
	width: 300px;
	height: 100px;
	overflow-y: scroll;
	scrollbar-color: $sidebar-color $sidebar-color;
	scrollbar-width: thin;
}
