.u-center-text {
	text-align: center !important;
}

// Margin Bottom
.u-mb-lg {
	margin-bottom: 8rem !important;
}

.u-mb-md-1 {
	margin-bottom: 2.5rem !important;
}
.u-mb-md-2 {
	margin-bottom: 4rem !important;
}
.u-mb-sm {
	margin-bottom: 1.5rem !important;
}

// Margin TOP

.u-mt-sm {
	margin-top: 2rem !important;
}
.u-mt-md {
	margin-top: 4rem !important;
}

.u-mt-lg {
	margin-top: 8rem !important;
}

.u-mt-xl {
	margin-top: 10rem !important;
}

// Margin LEFT
.u-ml-sm-1 {
	margin-left: 1rem !important;
}

.u-ml-sm {
	margin-left: 2rem !important;
}
.u-ml-md {
	margin-left: 4rem !important;
}

.u-ml-lg {
	margin-left: 8rem !important;
}

.u-ml-xl {
	margin-left: 10rem !important;
}

// Margin Right

.u-mr-sm {
	margin-right: 2rem !important;
}
.u-mr-md {
	margin-right: 4rem !important;
}

.u-mr-lg {
	margin-right: 8rem !important;
}

.u-mr-xl {
	margin-right: 10rem !important;
}

// Animations

.u-move-out-left {
	animation: moveOutLeft 0.75s forwards;
}
.u-move-out-right {
	animation: moveOutRight 0.75s forwards;
}
.u-move-in-right {
	animation: moveInRight 0.75s forwards;
}
.u-move-in-left {
	animation: moveInLeft 0.75s forwards;
}
.u-slide-up {
	animation: slideUp 0.5s forwards;
}
.u-slide-right {
	animation: slideRight 0.5s forwards;
}
.u-slide-left {
	animation: slideLeft 0.5s forwards;
}
